<!-- cart.html -->
{% extends 'base.html' %}
{% block content %}
{% load static %}
<h2 class="sr-only">Your Cart</h2>
{% if carts %}
<div class="max-w-[1000px] bg-white w-[95%] p-[20px] mt-[24px] shadow-custom mx-auto grid gap-[16px] relative">
    <div class="md:flex justify-between items-center font-extrabold text-[10px] uppercase border-b-[0.3px] border-soft-black pb-[18px] hidden max-w-[980px]">
        <p>Product :</p>
        <div class="flex gap-[120px] items-center">
            <p>Quantity :</p>
            <p>Sub-Total :</p>
        </div>
    </div>
{% for cart_item in carts %}
<!-- Mobile Views-->
        <div class="cart-item grid gap-[15px] pb-[28px] md:hidden">
            <div class="border-b-[0.3px] border-soft-black">
                <a href="{% url 'remove' cart_item_id=cart_item.pk %}" class="inline-block">
                    <img class="w-[20px] pb-[8px]" src="{% static 'images/exit-cart.svg' %}" alt="remove from cart">
                </a>
            </div>
            <div class="flex flex-col gap-[16px] border-b-[0.3px] border-soft-black pb-[18px]">
                <p class="font-extrabold text-[10px] uppercase">Product :</p>
                <div class="flex gap-[8px]">
                    <img class="w-[80px] h-full" src="{{ cart_item.product.image.url }}"></img>
                    <p>{{ cart_item.product.name }} <br> [ {{ cart_item.size}} ]</p>
                </div>
            </div>
            <div class="border-b-[0.3px] border-soft-black pb-[18px]">
                    <p class="font-extrabold text-[10px] uppercase pb-[8px]">Quantity :</p>
                    <form class="flex justify-between items-center" method="post" action="{% url 'update' cart_item_id=cart_item.pk %}">
                        {% csrf_token %}
                        <div class="border-[0.7px] border-soft-black p-[5px] relative content-center w-[100px] flex justify-center">
                            <span class="absolute top-[50%] translate-y-[-50%] right-[5px] qty-minus"><img class="w-[20px] h-full cursor-pointer" src="{% static 'images/minus.svg'%}"></img></span>
                            <input class="w-[50px] input-qty font-extralight border-none outline-none py-[2.5px] text-center" type="number" value="{{ cart_item.quantity }}" min="1" name="quantity">
                            <span class="absolute top-[50%] translate-y-[-50%] left-[5px] qty-add"> <img class="w-[20px] h-full cursor-pointer" src="{% static 'images/plus.svg'%}"></img></span>
                        </div>
                        
                        <button class="text-center cursor-pointer update-btn bg-grey-btn text-white px-[5px] text-[15px] w-fit py-[6.8px]"  type="submit">Update Cart</button>
                    </form>
            </div>
            <div class="flex justify-between items-center border-b-[0.3px] border-soft-black pb-[15px]">
                <p class="font-extrabold text-[10px] uppercase">Sub-Total :</p>
                <p class="font-bold text-[14px]">₦{{ cart_item.product.price }}</p>
            </div>
        </div>

<!-- Desktop View-->
        <div class="md:flex justify-between items-start pb-[28px] border-b-[0.3px] max-w-[980px] hidden border-soft-black">
            <div class="gap-[16px]">
                <div class="flex items-center gap-[24px]">
                    <a href="{% url 'remove' cart_item_id=cart_item.pk %}" class="inline-block">
                        <img class="w-[20px] pb-[8px]" src="{% static 'images/exit-cart.svg' %}" alt="remove from cart">
                    </a>
                    <div class="flex gap-[8px]">
                        <img class="w-[80px] h-full" src="{{ cart_item.product.image.url }}"></img>
                        <p>{{ cart_item.product.name }} <br> [ {{ cart_item.size}} ]</p>
                    </div>
                </div>
            </div>
            <div class="flex gap-[65px] items-start">
                <div class="">
                    <form class="flex flex-col gap-[12px] items-center" method="post" action="{% url 'update' cart_item_id=cart_item.pk %}">
                        {% csrf_token %}
                        <div class="border-[0.7px] border-soft-black p-[5px] relative content-center w-[100px] flex justify-center">
                            <span class="absolute top-[50%] translate-y-[-50%] right-[5px] qty-minus"><img class="w-[20px] h-full cursor-pointer" src="{% static 'images/minus.svg'%}"></img></span>
                            <input class="w-[50px] input-qty font-extralight border-none outline-none py-[2.5px] text-center" type="number" value="{{ cart_item.quantity }}" min="1" name="quantity">
                            <span class="absolute top-[50%] translate-y-[-50%] left-[5px] qty-add"> <img class="w-[20px] h-full cursor-pointer" src="{% static 'images/plus.svg'%}"></img></span>
                        </div>
                        
                        <button class="text-center cursor-pointer update-btn bg-grey-btn text-white px-[5px] text-[15px] md:text-[14px] w-fit py-[6.8px]"  type="submit">Update Cart</button>
                    </form>
            </div>
            <div class="justify-between items-center ">
                <p class="font-bold text-[14px]">₦{{ cart_item.product.price }}</p>
            </div>
            </div>
        </div>

    {% endfor %}
    <a href="{% url 'checkout' %}" class="uppercase shadow-lg text-center font-main w-fit text-[14px] py-[12px] px-[24px] bg-black text-white hover:bg-white hover:text-black border hover:rounded-md transition inline-block duration-300 ml-auto">
        Check Out
    </a>
</div>

{% else %}
<div class="max-w-[1440px] bg-white w-[95%] p-[20px] mt-[24px] shadow-custom mx-auto grid place-content-center gap-[16px]">
    <div class="bg-grey rounded-full p-[24px] h-full w-[120px] mx-auto">
        <img class="h-full w-[120px] mx-auto" src="{% static 'images/empty-cart.svg' %}">
    </div>
    <h3 class="text-center font-main">Your Cart is Empty !</h3>
    <p class="text-center">Explore Our Fashion Categories and Find Your Perfect Style!</p>
    <a class="uppercase shadow-lg text-center w-fit mx-auto font-main text-[14px] p-[12px] bg-black text-white hover:bg-soft-black hover:rounded-sm transition" href="{% url 'home' %}">
        Start Shopping
    </a>
</div>
{% endif %}

{#    <h3>Total Price: ₦{{ cat.price }}</h3>#}

{% endblock %}
