{% extends 'base.html' %}
{% block content %}
<style>
    .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust this to control horizontal spacing */
}
</style>
    <div class="" style="margin-bottom: 10px" >
        {% for product in product_list %}

            <div class="" style="width:18rem">
                <a href="{% url 'details' product_id=product.pk %}" class="">
                    <img src="{{ product.image.url }}" class="" alt="...">
                    <div class="" style="color: black">
                        <h5 class="">{{ product.name }}</h5>
                        <p class="">{{ product.summary }}</p>
                        <h5 class="">₦{{ product.price }}</h5>
                    </div>
                </a>
            </div><br>

        {% endfor %}
    </div>
{% endblock %}