{% extends 'base.html' %}
{% block content %}
{% load static %}

     <!-- Index Page -->
    <section class="px-[8px] py-[24px] mx-auto w-fit max-w-[1440px]">
    <h2 class="uppercase font-bold text-[21px] tracking-wide">Shorts</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-[12px]">
        {% for product in products %}

            <div class="bg-white rounded-md w-full max-w-[210px] xsm:max-w-[235px] s:max-w-[280px] md:max-w-[300px] overflow-hidden flex flex-col h-[340px] md:h-[320px] relative hover:scale-[1.02] hover:shadow-lg transition-all duration-300 ease-in-out">
                <a href="{% url 'details' product_id=product.pk %}" class="flex-grow">
                    <div class="image-container h-[150px] xsm:h-[170px] bg-grey-btn">
                         {% comment %} <img class="w-full h-full" src="{{ product.image.url }}" alt="..."> {% endcomment %}
                    </div>

                    <div class="flex flex-col flex-grow gap-[5px] p-[8px]">
                        <h5 class="font-bold text-[15px]">{{ product.name }}</h5>
                        <p class="text-[12px] font-light pb-[10px]">{{ product.summary }}</p>
                        <div class="border p-2 text-center rounded-sm absolute bottom-[8px] left-0 right-0 w-[97%] mx-auto">
                            <p class="text-[14px] flex items-center gap-[10px] mx-auto w-fit relative bottom-0">
                                <img class="w-[16px]" src="{% static 'images/cart.svg' %}"> -
                                ₦{{ product.price }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>

    </section>
{% endblock %}