{% load static %}
    <html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,700&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'css/output.css' %}">
 <link rel="icon" href="#">

 <title>Login</title>
</head>
<body class="bg-grey">
    <div class="flex flex-col h-full max-w-full mx-auto my-0 p-[40px] md:p-[28px] rounded-xl w-[360px] xs:w-[450px] gap-[12px] md:gap-[16px] content-center justify-center">
        <div><a class="text-[24px]" href="{% url 'home' %}">&larr;</a></div>
            <div class="pb-[24px] text-soft-black md:text-[18px]">
                <h2 class="text-[30px] md:text-[36px] font-bold text-black">Welcome Back 👋🏽</h2>
                <p>Today is a new day. It's your day. You shape it.</p>
                <p>A wide range of Fashion awaits you.</p>
            </div>
    
            <div class="md:text-[18px]">
                <form id="login-form" class="grid gap-[20px] pb-[28px]" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="grid gap-[3px] relative">
                        <label for="username">Email Address</label>
                        <input type="email" id="username" name="username" placeholder="example@gmail.com" class="bg-white border border-gold p-[12px] rounded-lg shadow-sm outline-none" required>
                        <div class="error-message text-dark-red text-[10px] absolute bottom-[-18px] left-0 hidden" id="username-error">This field is required.</div>
                    </div>
                    <div class="grid gap-[3px] pb-[28px] relative">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="At least 8 characters" class="bg-white border border-gold p-[12px] rounded-lg shadow-sm outline-none" required>
                        <div class="error-message text-dark-red text-[10px] absolute bottom-[10px] left-0 hidden" id="password-error">This field is required.</div>
                    </div>
                    <button id="login-btn" type="submit" class="text-center py-[12px] bg-black text-white font-bold font-sans rounded-lg hover:bg-soft-black duration-300 transition-colors ease-in-out">Login</button>
                </form>
                {% if error %}
                {{ error }}
                {% endif %}
             <p class="text-center"> Don't you have an account?  <a href="{% url 'signup' %}" class="text-gold underline font-bold text-[20px]">Sign Up</a> </p>
            </div>
        </div>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
