{% load static %}
    <html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
 <link rel="icon" href="#">
 <script src="{% static 'js/bootstrap.js' %}"></script>
 <script src="{% static 'js/popper.js' %}"></script>

 <title>Vertigo</title>
</head>
<body style="background-color: antiquewhite;">
 <div class="navbar navbar-expand-lg navbar-light  bg-light">
  <a class="navbar-brand" style="color: maroon;" href="{% url 'home' %}"><img src="{% static 'images/logo1.png' %}" alt="vertigo" width="70"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
   aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav ml-auto">
    <li class="nav-item">
     <a class="nav-link" style="color: black;" href="{% url 'shirts' %}">Shirts</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" style="color: black;" href="{% url 'sweats' %}">Sweats & hoodies</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" style="color: black;" href="{% url 'shorts' %}">Shorts and Cargos</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" style="color: black;" href="{% url 'accessories' %}">Accessories</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" style="color: black;" href="{% url 'cart_item' %}">Cart</a>
    </li>
   </ul>
  </div>
 </div>
{% block content %}
{% endblock %}
</body>
</html>
